.table {
  background-color: #838cff;
  width: 25%;
  min-width: 400px;
  height: 200px;
  border-radius: 2.8rem;
  margin: auto;
}

.table-top {

}

.table-left {

}

.table-bottom {

}

.table-rigth {
  
}